.button-base {
    color: black !important;
    font-weight: 600 !important;
    transition: background-color 0.3s;
}

.button-base:hover {
    background-color: #0096c766 !important;
    color: white !important;
}

.button-base.active {
    color: gray !important;
    pointer-events: none;
}