@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Styles the scrollbar itself (track) */
.scrollable-event-details::-webkit-scrollbar {
    width: 5px; /* Adjust scrollbar width */
}

/* Styles the draggable part of the scrollbar (thumb) */
.scrollable-event-details::-webkit-scrollbar-thumb {
    background-color: #ccc00c00; /* Gray thumb */
    border-radius: 6px; /* Rounded corners on the thumb */
    
}

/* Optional: style the track (part the thumb slides within) */
.scrollable-event-details::-webkit-scrollbar-track {
    background-color: #DCF5FF00; /* Light gray track */
}

/* Optional: style the thumb when hovering over it */
.scrollable-event-details::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3; /* Darker gray for hover effect */
}